$app-1rem: 1rem;
$app-2rem: 2rem;
$app-3rem: 3rem;
$app-4rem: 4rem;
$app-6rem: 6rem;
$app-8rem: 8rem;
$app-10rem: 10rem;
$app-12rem: 12rem;
$app-14rem: 14rem;

$app-spacers: (
  "1rem": $app-1rem,
  "2rem": $app-2rem,
  "3rem": $app-3rem,
  "4rem": $app-4rem,
  "6rem": $app-6rem,
  "8rem": $app-8rem,
  "10rem": $app-10rem,
  "12rem": $app-12rem,
  "14rem": $app-14rem,
);
